$tooltipBackgroundDark: rgba(0, 0, 0, .85);
$tooltipTextDark: #fff;
$tooltipBackgroundLight: #eee;
$tooltipTextLight: #333;

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@mixin boxArrow($position, $arrowColor) {
	$arrowSize: 4px;
  &:after {
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: transparent;
		border-width: $arrowSize;
		@if $position == right {
			left: 100%;
			top: 50%;
			border-left-color: $arrowColor;
			margin-top: -$arrowSize;
		}
		@if $position == left {
			right: 100%;
			top: 50%;
			border-right-color: $arrowColor;
			margin-top: -$arrowSize;
		}
		@if $position == top {
			bottom: 100%;
			left: 50%;
			border-bottom-color: $arrowColor;
			margin-left: -$arrowSize;
		}
		@if $position == bottom {
			top: 100%;
			left: 50%;
			border-top-color: $arrowColor;
			margin-left: -$arrowSize;
		}
	}
}

.tooltip {
  position: absolute;
  background: $tooltipBackgroundDark;
  color: $tooltipTextDark;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;
  animation: fadeIn .2s;
}

.tooltipLight {
  background: $tooltipBackgroundLight;
	color: $tooltipTextLight;
}

.tooltipTop {
  transform: translate(-50%, calc(-100% - 5px));
	@include boxArrow(bottom, $tooltipBackgroundDark);
}
.tooltipLight.tooltipTop {
	@include boxArrow(bottom, $tooltipBackgroundLight);
}

.tooltipRight {
  transform: translate(5px, -25%);
	@include boxArrow(left, $tooltipBackgroundDark);
}
.tooltipLight.tooltipRight {
	@include boxArrow(left, $tooltipBackgroundLight);
}

.tooltipBottom {
  transform: translate(-50%, 5px);
	@include boxArrow(top, $tooltipBackgroundDark);
}
.tooltipLight.tooltipBottom {
	@include boxArrow(top, $tooltipBackgroundLight);
}

.tooltipLeft {
  transform: translate(calc(-100% - 5px), -25%);
	@include boxArrow(right, $tooltipBackgroundDark);
}
.tooltipLight.tooltipLeft {
	@include boxArrow(right, $tooltipBackgroundLight);
}
