.article, .footer {
  margin: 0 auto;
  max-width: 1032px;
  min-width: 768px;
}

.article header,
.article header.subheader,
.article p,
.footer {
  padding: 16px 32px;
  margin: 0;
}

.article header,
.article header.subheader {
  font-size: 1.5em;
  padding-top: 24px;
  font-weight: bold;
}

.article header.subheader {
  font-size: 1.35em;
  font-weight: normal;
  padding-top: 16px;
}

.articleDark {
  background: #333;
  border-radius: 15px;
  color: #fafafa;
}
.articleDark a {
  color: #fafafa;
}
.articleDark a:visited {
  color: #999;
}

.imageContainer {
  padding: 16px;
}
.imageContainer img {
  width: 100%;
}
